.bar-graph-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-container {
  background-color: #331427;
  padding: 50px;
  margin-bottom: 20px;
}
.active-container {
  background-color: #132240;
  padding: 50px;
  margin-bottom: 20px;
}
.recover-container {
  background-color: #182829;
  padding: 50px;
  margin-bottom: 20px;
}
.decease-container {
  background-color: #1c1c2b;
  padding: 50px;
  margin-bottom: 20px;
}
.tested-container {
  background-color: #230f41;
  padding: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .confirm-container {
    padding: 30px 10px;
  }
  .active-container {
    padding: 30px 10px;
  }
  .recover-container {
    padding: 30px 10px;
  }
  .decease-container {
    padding: 30px 10px;
  }
  .tested-container {
    padding: 30px 10px;
  }
}
.line-graphs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .all-graphs-container {
    padding: 0px 100px;
  }
}

.daily-spread-trends {
  padding: 0px 150px;
}
@media screen and (max-width: 767px) {
  .daily-spread-trends {
    padding: 0px 60px;
  }
}
